/* Estilo personalizado para o ion-toolbar */
.custom-toolbar {
  background-color: #3880ff; /* Cor de fundo do toolbar */
  color: white; /* Cor do texto */
  --background: #3880ff; /* Cor de fundo com variável do Ionic */
  --color: white; /* Cor do texto com variável do Ionic */
  font-family: 'Arial', sans-serif; /* Define a fonte desejada */
  padding: 10px; /* Adiciona preenchimento */
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}