<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Bem-vindo ao News App</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/register">Cadastre-se</ion-button>
      <ion-button routerLink="/login">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="presentation-content">
    <h2>Fique por dentro das últimas notícias!</h2>
    <p>Descubra as notícias mais relevantes de forma rápida e fácil.</p>

    <img src="/assets/breaking-news-logo.png" alt="Imagem de Boas-Vindas" />

    <ion-button class="news-button" routerLink="/home">Ver Notícias</ion-button>
  </div>
</ion-content>
